@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:link {
    color: inherit;
  }
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

body {
  background-image: url('../images/bg.jpg');
  user-select: none;
}

button {
  cursor: pointer;
}

.header,
.footer {
  height: 9vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.header,
.footer {
  justify-content: space-between;
  padding: 0 20px;
}

.h1 {
  justify-self: center;
}

.footer {
  justify-content: space-around;
}

#app {
  min-height: 80vh;
}

.creator {
  min-width: 350px;
}

.creator span {
  transition: letter-spacing 1s ease-in-out;
}

.creator:hover span {
  letter-spacing: 4px;
}

.rs svg {
  width: 50%;
}
