@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  user-select: none;
  outline: none;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:link {
    color: inherit;
  }
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  white-space: nowrap;
}

html,
body {
  min-height: 100vh;
}

body {
  background: url('../images/bg1.jpg') top center;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
}

.header,
.footer {
  min-height: 60px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
}

.header,
.footer {
  justify-content: space-between;
  padding: 0 20px;
}

main {
  width: 100%;
  min-height: 80vh;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  justify-self: center;
}

.footer {
  justify-content: space-between;
}

.creator span {
  transition: letter-spacing 1s ease-in-out;
}

.creator:hover span {
  letter-spacing: 4px;
}

.rs svg {
  width: 100px;
  height: 40px;

  & path {
    transition: fill .3s ease-in-out;
  }

  &:hover path {
    fill: #c0c0c0;
  }
}