.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 1s ease-in-out;
  transform: translateX(-200vw);
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  background-size: cover;
  background-position: center center;
  width: 43vw;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

.result-description {
  transition: opacity 1s ease-in-out;
  opacity: 0;

  .result-container:hover & {
    opacity: 1;
  }
}

.wrong-result {
  filter: grayscale(20%);
  border: solid 1.5px #ff0000;
}

.correct-result {
  border: solid 1.5px #008000;
}

.categories-button {
  width: 300px;
}