.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-200vw);
  transition: transform 1s ease-in-out;
  color: #ffffff;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  max-width: 400px;

  &>img {
    width: 100%;
  }
}

.button {
  cursor: pointer;
  width: 120px;
  font-size: 0.9rem;

  &:hover {
    background-color: #c0c0c0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.answers {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.answer {
  width: 50%;
  text-align: center;
  border: solid 1px #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background: #c0c0c0;
  }
}

.image-answer {
  width: 50%;
  cursor: pointer;
  border: none;

  & img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

  & img:hover {
    transform: scale(1.1);
  }
}

.question {
  margin-top: 10px;
}

.question-result,
.total-result {
  display: none;
  position: fixed;
  justify-content: center;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.9);
  transition: transform 1s ease-in-out;
  transform: translateY(-200vh);
  font-size: 2rem;
}

.question-result>* {
  width: 400px;
}

.correct,
.wrong,
.end,
.show {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrong {
  color: #ff0000;

  & img {
    border: solid 0.5px #ff0000;
  }
}

.correct {
  color: #008000;

  & img {
    border: solid 0.5px #008000;
  }
}

.timer {
  width: 50%;
  min-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}