a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  user-select: none;
  padding: 0 50px;
}

.header,
.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.header {
  justify-content: space-between;
}

.h1 {
  justify-self: center;
}

.footer {
  justify-content: space-around;
}

#app {
  min-height: 80vh;
}

.creator {
  min-width: 350px;
}

.creator span {
  transition: letter-spacing 1s ease-in-out;
}

.creator:hover span {
  letter-spacing: 4px;
}