.menu {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translateX(-200vw);
  transition: transform 1s ease-in-out;
}

.menu-option {
  padding: 0 50px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  & p {
    text-align: center;
    font-size: 2rem;
  }
}

.menu-image {
  width: 22vw;
  height: 22vw;
  background-size: cover;
  border-radius: 20%;
  transition: border-radius 0.5s ease-in-out;

  &:hover {
    border-radius: 10%;
  }
}

.authors-quiz {
  background-image: url(../../images/img/240.jpg);
}

.pictures-quiz {
  background-image: url(../../images/img/72.jpg);
}
