.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80vh;
  transition: transform 1s ease-in-out;
  transform: translateX(-200vw);
}

.settings-container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
}

.timer {
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  color: white;
  font-size: 6rem;
}
